[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "===1.0.5"
numpy = "*"
sklearn = "*"
matplotlib = "*"
ipykernel = "*"
Sphinx = "*"
pytest = "*"
xgboost = "*"
graphviz = "*"
moto = "*"
jedi = "==0.17.2"

[requires]
python_version = "3.6"

[packages.data_utils]
git = "https://git@github.com/vnrag/data-utils.git"
