[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "===1.0.5"
numpy = "*"
sklearn = "*"
matplotlib = "*"
ipykernel = "*"
sphinx = "*"
pytest = "*"
xgboost = "*"
graphviz = "*"
moto = "*"

[requires]
python_version = "3.6"

[packages.data-utils]
git = "https://git@github.com/vnrag/data-utils.git"
